header {
    background-color: #3F4763;
}

.navigation{
    margin-left: 80%;
}

nav {
    height: 5%;
}

.Logo {
    padding: 1%;
}

li {
    color: white;
    font-family: Kaisei HarunoUmi, 'Times New Roman', Times, serif, Helvetica, sans-serif;
}

.heroImg {
    height: 600px;
    width:100%;
}

.portrait {
    height: 10%;
    width: 15%;
    margin-left:45%;
}

#shortBio {
  font-family: Kaisei , 'Times New Roman', Times, serif, Helvetica, sans-serif;
  font-size: medium;
  width: 25%;
  height: 15%;
  padding: 2%;
  margin: 10%;
}

footer {
    background-color: #373738;
    padding-left: 50%;
    
}    

a { 
    color:white;
    vertical-align:bottom;
}   

footer ul { 
    display: inline-block;
    vertical-align: top;
    padding-bottom: 10%;
    text-align: center;
}

ul li{
    padding-right: 50%;
}

